html {
    /* 10px */
    font-size: 62.5%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

body {
    background-color: #ffffff;
}

header {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

/* Slideshow container */
.slideshow-container {
    /* 10rem * 10px = 100px */
    width: 100%;
    height: 80rem;
    position: absolute;
    overflow: hidden;
}

.mySlides > img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    height: auto;
}

.mySlides {
    display: none;
}

/*!* Next & previous buttons *!*/
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 100;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 1.1rem
    }

    .dot {
        height: 10px;
        width: 10px;
    }

    @media only screen and (max-width: 500px) {
        .prev, .next, .text {
            font-size: 1.4rem
        }
    }
}

/*!*Блок хедера*!*/

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    z-index: 4;
    background-color: rgba(222, 184, 135, 0.4);
}

.header__menu_block {
    display: flex;
    flex-direction: row;
}

.header__menu_block > li {
    list-style-type: none;
    font-size: 2.4rem;
    padding: 20px;
}

.header__menu_block > li > a {
    text-decoration: none;
    color: #fde9d3;
}

.header__menu_block > li > a:hover {
    color: #ffffff;
    transition: 0.5s;
}

.header__menu_contacts {
    display: flex;
    flex-direction: row;
    z-index: 4;
    align-items: center;
}

.header__menu_contacts > div {
    margin-right: 15px;
}

.header__menu_contacts > div > p {
    color: #ffffff;
    font-size: 2.5rem;

}

.header__menu_contacts > div > img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.4s;
}

.header__menu_contacts > div > a > img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.4s;
}


/*Блок контента хедера*/

.header__menu_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 3;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 90px;
}

.header__menu_inner > h1 {
    font-size: 8.25rem;
    padding-bottom: 20px;
    font-family: Montserrat, sans-serif;
}

.header__menu_inner > h2 {
    font-size: 4rem;
    padding-bottom: 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

.header__menu_inner > .orange {
    font-size: 6.4rem;
    color: #ffac99;
    padding-top: 30px;
    font-family: Montserrat, sans-serif;
}

.line {
    font-family: Montserrat, sans-serif;
    text-decoration: line-through;
    margin-right: 20px;
}

.white {
    font-size: 5.4rem;
    margin: 20px;
    font-family: Montserrat, sans-serif;
}


.button_openModal{
    background-color: #ffac99;
    width: 400px;
    height: 6rem;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}

.button_openModal > a{
    font-size: 3.4rem;
    text-decoration: none;
    color: #ffffff;
    line-height: 1px;
}
/*Блок обо мне*/
/*wrapper {*/
/*    transform: translateY(-150%);*/
/*    animation: ani 2s forwards;*/
/*}*/

/*@keyframes ani {*/
/*    0% {transform: translateY(-150%);}*/
/*    100% {transform: translateY(0);}*/
/*}*/

.welcome-wrapper {
    max-width: 100%;
    padding: 120px 0;
}
.welcome_greetings {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    padding-top: 150px;
    padding-bottom: 90px;
}

.welcome_greetings_title > h1 {
    font-size: 6.8rem;
    line-height: 1.23;
    margin: 20px 0;
}

.welcome_desc > p {
    font-size: 2.8rem;
    margin: 20px 0 80px 0;
}

.welcome_content {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0;
}

.welcome_content_pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 570px;
    gap: 0.938rem;
}

#main_icon > img {
    max-width: 270px;
    max-height: 370px;
    object-fit: cover;
}
.welcome_icon {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.welcome_icon > div > img {
    max-width: 225px;
    max-height: 170px;
    object-fit: cover;
}

.welcome_content_my_info {
    background-color: #f1f0f0;
    margin: 0 20px;
    color: #454d5a;
}

.welcome_content_my_info > p {
    margin: 44px 50px;
    font-size: 2rem;
    line-height: 1.55;
}



/*Блок Почему клиенты обращаются именно ко мне*/

.reasons-wrapper {
    padding-top: 0px;
    padding-bottom: 120px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
}

.reasons_desc_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    position: relative;
}

.reasons_headliner {
    width: 940px;
    margin: 25px auto;
    text-align: justify;
}

.reasons_headliner > h1 {
    font-size: 3.7rem;
}

.reasons_desc_list {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 10px;
}

.reasons_desc_title {
    margin-bottom: 10px;
    color: #353b44;
    margin-left: 55px;
}

.reasons_desc_title > h1 {
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 600;
}

.reasons_desc_text {
    display: block;
    line-height: 1.2;
    color: #454d5a;
    margin-left: 55px;
}

.reasons_desc_text > p {
    font-size: 2rem;
    font-weight: 300;
    text-align: justify;
}

.reasons_desc_num {
    position: absolute;
    font-size: 2.8rem;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border-radius: 5em 0 5em 5em;
    font-family: comfortaa;
    background-color: #da7f48;
}

.reasons_pic > img {
    width: 400px;
    height: 450px;
    object-fit: cover;
}

/*!*Кнопка whatsapp*!*/
.whatsapp-button {
    position: fixed;
    right: 13px;
    bottom: 90px;
    transform: translate(-50%, -50%);
    background: #25D366; /*цвет кнопки*/
    border-radius: 50%;
    width: 55px; /*ширина кнопки*/
    height: 55px; /*высота кнопки*/
    color: #fff;
    text-align: center;
    line-height: 53px; /*центровка иконки в кнопке*/
    font-size: 35px; /*размер иконки*/
    z-index: 9999;
}
.whatsapp-button a {
    color: #fff;
}
.whatsapp-button:before,
.whatsapp-button:after {
    content: " ";
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid #25D366; /*цвет анимированных волн от кнопки*/
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden;
}

.whatsapp-button:after{
    animation-delay: .5s;
}

@keyframes animate
{
    0%
    {
        transform: scale(0.5);
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.2);
        opacity: 0;
    }
}
@media (max-width : 800px) {
    .whatsapp-button {
        bottom: 5px; /*отступ кнопки снизу от экрана*/
        right: 40px; /*отступ кнопки слева от экрана(right - справа)*/
    }
}
/*Блок вредно или нет*/
.harm_wrapper {
    max-width: 1170px;
    text-align: justify;
    padding-bottom: 120px;
    line-height: 1.4;
    margin: 0 auto;
}
.harm_headliner > h1{
    font-size: 4rem;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    text-align: center;
    margin-bottom: 100px;
}
.harm_description {
    width: 100%;
    margin: 25px auto;
}
.harm_description > h2{
    font-size: 2.4rem;
    color: #353b44;
    margin: 15px 0;
}
.harm_description > p{
    font-size: 2rem;
    color: #454d5a;
}

/*Блок прайс*/

.price {
    background-image: url(img/bgimage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.price_title > h1{
    text-align: center;
    color: #d39b79;
    font-size: 4rem;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    text-align: center;
    text-transform: none;
    padding: 20px;
}
.price_title > h2, .price_note > h2{
    text-align: center;
    font-size: 2.8rem;
    color: #ffffff;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    text-transform: none;
    padding: 15px;
}


.price__tags{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}
.price_left, .price_right{
    width: 50%;
    padding: 60px;
}

ul.leaders li{
    clear: both;
    font-size: 2.8rem;
    color: #efe6de;
    list-style-type: none;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

ul.leaders li span:first-child {
    float: left;
    padding: 0 .4em 0 0;
    margin: 0;
}
ul.leaders li span + span {
    float: right;
    padding: 0 0 0 .4em;
    margin: 0;
}

ul.leaders li:after {
    content: "";
    display: block;
    overflow: hidden;
    height: 1em;
    border-bottom: 2px dotted;
}

/*Блок результаты*/

.result-wrapper {
    padding: 120px 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
}

.result_desc_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    position: relative;
}

.result_headliner {
    width: 940px;
    margin: 25px auto;
    text-align: justify;
}

.result_headliner > h1 {
    font-size: 4rem;
    margin-bottom: 100px;
}

.result_desc_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 50px;
}
.result_desc_num {
    position: absolute;
    font-size: 2.8rem;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border-radius: 5em 0 5em 5em;
    font-family: comfortaa;
    background-color: #da7f48;
}
.result_desc_title {
    margin-bottom: 10px;
    color: #353b44;
    margin-left: 55px;
}

.result_desc_title > h1 {
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 400;
    margin: 5px;
}

/*Блок фото результатов*/
.result_photo {
    background-color: #fafafa;
}

.result_photo_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
}

.result_photo_headliner {
    text-align: justify;
    margin-bottom: 15px;
}
.result_photo_headliner > h1 {
    font-size: 4rem;
}
.result_photo_CONTAINER {
    display: flex;
    flex-direction: row;
}

.result_photo__left_block , .result_photo__right_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 60%;
}
.result_photo__right_block > div > h2, .result_photo__left_block > div > h2 {
    text-align: justify;
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
    padding: 15px;
}
.result_photo__right_block > div {
    /*margin-bottom: 23px;*/
}
.result_photo__left_block > div > img, .result_photo__right_block > div > img{
    width: 406px;
    height: 612px;
    object-fit: cover;
    padding: 15px;
}
/*Блок вопросы*/
.faq_wrapper {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    padding: 120px 0;
}
.faq_wrapper > h1{
    padding: 15px;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 4rem;
    margin-bottom: 50px;
}
.faq{
    width: 100%;
    margin: 10px 0;
    border: 1px solid rgba(0,0,0, 0.2);
}
.faq.active{
    border: none;
}

.accordion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fffbfb;
    cursor: pointer;
    font-size: 2rem;
    padding: 20px;
    border: none;
    transition: 0.4s;
    color: #353b44;
    line-height: 1.2;
    font-weight: 500;
}
.pannel{
    padding: 0 2rem 2.5rem 2rem;
    overflow: hidden;
    display: none;
}
.pannel > p{
    font-size: 1.8rem;
    text-align: justify;
    line-height: 1.4;
    color: #454d5a;
    font-weight: 300;
}
.accordion > i{
    font-size: 1.4rem;
}
.active,
.accordion:hover{
    background-color: #ffece2;

}
/*Блок оборудование*/

.equipment_wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
}
.equipment_headliner {
    width: 940px;
    margin: 25px auto;
    text-align: justify;
}

.equipment_headliner > h1 {
    font-size: 4rem;
    margin-bottom: 50px;
    line-height: 1.2;
    font-weight: 600;
}
.equipment_headliner > p, .equipment_headliner > ul > li{
    font-size: 2rem;
    font-weight: 300;
    text-align: justify;
    margin: 5px;
}
.equipment_headliner > ul > li{
    font-style: italic;
}
.equipment_headliner > h2{
    font-size: 2.4rem;
    line-height: 1.2;
    color: #454d5a;
    font-weight: 600;
}

.equipment_pictures {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0;

}
.equipment_pictures_left > img {
    width: 450px;
    height: 660px;
    object-fit: cover;
    margin: 5px;
}
.equipment_pictures_right > img {
    width: 500px;
    height: 320px;
    object-fit: cover;
    margin: 9px;
}

/*Блок плавного появления элементов*/
.element-animation {
    /* Скроем элемент в начальном состоянии */
    opacity: 0;
    transform: translateY(20%);
}
.element-animation.element-show {
    opacity: 1;
    transition: all 0.5s;
    transform: translateY(0%);
}

/*Блок футер*/
.footer_block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #444444;
}
.footer_block__left > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}
.footer_block__left > h1{
    text-align: justify;
    color: #d39b79;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: 2.5rem;
    text-transform: none;
    margin-left: 25px;
}
.footer_block__left > div > a > p {
    font-size: 2.1rem;
    color: #ffffff;
    margin: 10px 0;
    text-decoration: none;
}
.footer_block__left > div > a  {
    text-decoration: none;
}
.footer_block__left > div > p {
    font-size: 2.1rem;
    color: #ffffff;
}
.footer_block__left > div > img{
    width: 8%;
    height: 8%;
}
.footer_block__left > div > a > img{
    width: 70%;
    height: 70%;
}
.footer_block__left > div > a > img{
    width: 60%;
    height: 60%;
}



@media (min-width: 320px) and (max-width: 480px) {
    html {
        font-size: 47.5%;
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 100%;
        height: 40rem;
    }

    .mySlides > img {
        max-width: 100%;
        height: 40rem;
    }
    .next, .prev {
        display: none;
    }

    /*/*Блок хедера*/

    .header__menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 5.5rem;
    }

    .header__menu_block {
        display: none;
    }

    .header__menu_contacts {
        display: flex;
        flex-direction: row;
        z-index: 4;
        align-items: center;
    }

    .header__menu_contacts > div {
        margin-right: 5px;
    }

    .header__menu_contacts > div > p {
        color: #ffffff;
        font-size: 2.5rem;
        text-decoration: none;
    }
    .header__menu_contacts > div > img, .header__menu_contacts > div > a > img {
        width: 60%;
    }
    .header__menu_contacts > div > img:hover {
        pointer-events: none;
    }

    .header__menu_contacts > div > a > img:hover {
        pointer-events: none;
    }


    /*Блок контента хедера*/

    .header__menu_inner {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 2.5rem;
        margin: 50px 0;
    }

    .header__menu_inner > h1 {
        font-size: 6rem;
        padding-bottom: 6px;
    }

    .header__menu_inner > h2 {
        font-size: 2.7rem;
        padding-bottom: 5px;
    }

    .header__menu_inner > .orange {
        font-size: 2.5rem;
        color: #ffac99;
        padding-top: 1px;
    }

    .line {
        text-decoration: line-through;
        margin-right: 20px;
    }

    .white {
        font-size: 2.5rem;
        margin: 0 5px;
    }
    .button_openModal{
        background-color: #ffac99;
        width: 200px;
        height: 3rem;
        border-radius: 10px;
        border: none;
        margin-top: 10px;
    }

    .button_openModal > a{
        font-size: 1.8rem;
        text-decoration: none;
        color: #ffffff;
        line-height: 1px;
    }


    .welcome-wrapper {
        padding: 20px 0;
    }
    .welcome_greetings {
        padding-top: 5rem;
        padding-bottom: 5rem;
        margin: 0;
    }

    .welcome_greetings_title > h1 {
        font-size: 3.8rem;
        margin: 4.3rem;
    }

    .welcome_desc > p {
        text-align: justify;
        font-size: 2.8rem;
        margin: 0 4.3rem;
    }

    .welcome_content {
        display: flex;
        flex-direction: column;
    }

    .welcome_content_pics {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 100%;
        gap: 15px;
    }
    #main_icon {
        margin: 10px auto;
        max-width: 100%;
        max-height: 100%;
    }
    #main_icon > img {
        height: auto;
        width: 100%;
        /* еще больше контроля с max-width */
        max-width: 420px;
        object-fit: cover;
    }
    .welcome_icon {
        display: none;
    }

    .welcome_content_my_info > p {
        font-size: 2.5rem;
        margin: 2.6rem;
    }
    .welcome_content_my_info  {
        margin-top: 30px;
    }


    /*Блок обо мне*/
    .reasons-wrapper {
        width: 90%;
        margin: 0 20px;
        padding-bottom: 20px;
    }

    .reasons_desc_wrapper {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .reasons_desc {
        width: 100%;
    }
    .reasons_headliner {
        width: 100%;
        margin: 30px 0;
    }

    .reasons_headliner > h1 {
        text-align: left;
        font-size: 3.2rem;
        margin:10px;
    }

    .reasons_desc_list {
        width: 100%;
        margin-bottom: 20px;
    }

    .reasons_desc_title {
        margin-bottom: 10px;
        margin-left: 35px;
        color: #353b44;
    }

    .reasons_desc_title > h1 {
        font-size: 2.8rem;
    }

    .reasons_desc_text {
         margin-left: 35px;
    }

    .reasons_desc_text > p {
        font-size: 2.4rem;
    }

    .reasons_desc_num {
        font-size: 2rem;
        width: 25px;
        height: 25px;
        line-height: 25px;
        margin-top: 10px;
    }
    .reasons_pic{
        width: 100%;
        margin: 8px;
        text-align: center;
    }
    .reasons_pic > img {
        height: auto;
        width: 100%;
        max-width: 320px;
        object-fit: cover;
    }


    /*Блок вредно или нет*/
    .harm_wrapper {
        width: 90%;
        padding-bottom: 20px;
        margin: 0 auto;
    }

    .harm_headliner > h1{
        text-align: left;
        font-size: 3.2rem;
        margin: 30px 0;
    }
    .harm_description {
        width: 100%;
        margin: 25px auto;
    }
    .harm_description > h2{
        font-size: 2.6rem;
        color: #353b44;
        margin: 15px 0;
    }
    .harm_description > p{
        font-size: 2.2rem;
        color: #454d5a;
    }


    /*Блок прайс*/

    .price {
        background-image: url(img/bgimage1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        max-width: 480px;
        width: 100%;
    }

    .price_title > h1{
        font-size: 3.8rem;
        padding: 8px;
    }
    .price_title > h2, .price_note > h2{
        font-size: 2.8rem;
        padding: 5px;
    }


    .price__tags{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }
    .price_left, .price_right{
        width: 100%;
        padding: 10px;
    }

    ul.leaders li{
        font-size: 2.2rem;
    }


    /*Блок результаты*/
    .result-wrapper {
        width: 90%;
        margin: 0 20px;
        padding: 20px 0;
    }

    .result_desc_wrapper {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .result_headliner {
        width: 100%;
        margin: 30px 0;
    }

    .result_headliner > h1 {
        text-align: justify;
        font-size: 3.2rem;
        margin:10px;
    }

    .result_desc_list {
        width: 100%;
        margin-bottom: 20px;
    }
    .result_desc_num {
        font-size: 2rem;
        width: 25px;
        height: 25px;
        line-height: 25px;
        margin-top: 10px;
    }
    .result_desc_title {
        margin-bottom: 10px;
        margin-left: 35px;
        color: #353b44;
    }

    .result_desc_title > h1 {
        font-size: 2.2rem;
    }


    /*Блок фото результатов*/
    .result_photo {
        padding: 20px 0;
    }

    .result_photo_wrapper {
        padding: 5px 0;
        width: 100%;
    }

    .result_photo_headliner {
        width: 90%;
        margin: 5px auto;
    }
    .result_photo_headliner > h1 {
        font-size: 3.2rem;
    }


    .result_photo_CONTAINER {
        display: flex;
        flex-direction: row;
    }

    .result_photo__left_block , .result_photo__right_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 60%;
    }
    .result_photo__right_block > div > h2{
        text-align: justify;
        font-size: 2rem;
        font-weight: 400;
        max-height: 85px;
    }
    .result_photo__left_block > div > h2 {
        text-align: left;
        font-size: 2rem;
        font-weight: 400;
    }
    .result_photo__left_block > div > img, .result_photo__right_block > div > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding: 15px;
    }


    /*Блок вопросы*/
    .faq_wrapper {
        width: 95%;
        margin: 0 10px;
        padding: 20px 0;
    }
    .faq_wrapper > h1{
        font-size: 3.2rem;
        padding: 8px;
        margin-bottom: 10px;
    }
    .faq{
        width: 100%;
    }

    .accordion{
        width: 100%;
        font-size: 2.8rem;
        text-align: center;
        padding: 1.8rem;

    }
    .pannel > p{
        font-size: 2.4rem;
    }
    .accordion > i{
        font-size: 2.1rem;
    }

    /*Блок оборудование*/

    .equipment_wrapper {
        padding: 10px 0;
        margin: 5px 20px;
        width: 90%;
    }
    .equipment_headliner {
        width: 95%;
        margin: 25px auto;
        text-align: justify;
    }

    .equipment_headliner > h1 {
        font-size: 3.8rem;
        margin-bottom: 10px;
        margin-left: 5px;
    }
    .equipment_headliner > p, .equipment_headliner > ul > li{
        font-size: 2.4rem;
        margin: 10px;
    }

    .equipment_headliner > h2{
        font-size: 2.8rem;
        margin-left: 5px;
    }

    .equipment_pictures {
        display: none;
    }


    /*Блок футер*/
    .footer_block{
        padding-top: 20px;

    }
    .footer_block__left > div{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
    }
    .footer_block__left > h1{
        font-size: 3.1rem;
        margin-left: 25px;
    }
    .footer_block__left > div > p{
        font-size: 2.2rem;
        margin: 10px;
    }
    .footer_block__left > div > img{
        width: 8%;
        height: 8%;
    }
    .footer_block__left > div > a > img{
        width: 60%;
        height: 60%;
    }

}



@media screen and (min-width : 481px) and (max-width : 768px) {
    html {
        font-size: 60%;
    }

    /* Slideshow container */
    .slideshow-container {
        width: 100%;
        height: 40rem;
    }

    .mySlides > img {
        width: 100%;
        height: 40rem;
    }

    /*/*Блок хедера*/

    .header__menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .header__menu_block {
        display: none;
    }

    .header__menu_contacts {
        display: flex;
        flex-direction: row;
        z-index: 4;
        align-items: center;
    }

    .header__menu_contacts > div {
        margin-right: 5px;
    }

    .header__menu_contacts > div > p {
        color: #ffffff;
        font-size: 2.5rem;

    }
    .header__menu_contacts > div > img, .header__menu_contacts > div > a > img {
        width: 60%;
    }
    .header__menu_contacts > div > img:hover {
        pointer-events: none;
    }

    .header__menu_contacts > div > a > img:hover {
        pointer-events: none;
    }


    /*Блок контента хедера*/

    .header__menu_inner {
        font-size: 2rem;
        margin: 60px 0;
    }

    .header__menu_inner > h1 {
        font-size: 6rem;
        padding-bottom: 6px;
    }

    .header__menu_inner > h2 {
        font-size: 3rem;
        padding-bottom: 5px;
    }

    .header__menu_inner > .orange {
        font-size: 2.3rem;
        color: #ffac99;
        padding-top: 1px;
    }

    .line {
        text-decoration: line-through;
        margin-right: 20px;
    }

    .white {
        font-size: 2.3rem;
        margin: 0 5px;
    }
    .button_openModal{
        background-color: #ffac99;
        width: 200px;
        height: 3rem;
        border-radius: 10px;
        border: none;
        margin-top: 10px;
    }

    .button_openModal > a{
        font-size: 2rem;
        text-decoration: none;
        color: #ffffff;
        line-height: 1px;
    }

    .welcome-wrapper {
        padding: 20px 0;
    }
    .welcome_greetings {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .welcome_greetings_title > h1 {
        font-size: 3.8rem;
        margin: 5.3rem;
    }

    .welcome_desc > p {
        font-size: 2.4rem;
        margin: 0 5.3rem;

    }

    .welcome_content {
        display: flex;
        flex-direction: column;
    }

    .welcome_content_pics {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 8px;
    }

    #main_icon > img {
        max-width: 100%;
    }

    .welcome_icon  {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .welcome_icon > div > img {
        object-fit: cover;
    }
    .welcome_content_my_info {
        margin-top: 3.1rem;
    }
    .welcome_content_my_info > p {
        font-size: 2.2rem;
        margin: 3.1rem;
    }


    /*Блок обо мне*/
    .reasons-wrapper {
        width: 90%;
        margin: 0 20px;
        padding-bottom: 20px;
    }

    .reasons_desc_wrapper {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
    .reasons_desc {
        width: 100%;
    }
    .reasons_headliner {
        width: 100%;
        margin: 3px;

    }

    .reasons_headliner > h1 {
        font-size: 3.1rem;
        margin:10px;
    }

    .reasons_desc_list {
        width: 100%;
        margin-bottom: 10px;
    }

    .reasons_desc_title {
        margin-bottom: 10px;
        margin-left: 35px;
        color: #353b44;
    }

    .reasons_desc_title > h1 {
        font-size: 2.6rem;
    }

    .reasons_desc_text {
        margin-left: 35px;
    }

    .reasons_desc_text > p {
        font-size: 2.1rem;
    }

    .reasons_desc_num {
        font-size: 1.8rem;
        width: 25px;
        height: 25px;
        line-height: 25px;

    }


    .reasons_pic{
        width: 100%;
        margin: 8px;
        text-align: center;
    }
    .reasons_pic > img {
        height: auto;
        width: 100%;
        max-width: 320px;
        object-fit: cover;
    }


    /*Блок вредно или нет*/
    .harm_wrapper {
        width: 90%;
        padding-bottom: 20px;
        margin: 0 auto;
    }
    .harm_headliner > h1{
        font-size: 3.2rem;
        margin-bottom: 10px;
    }
    .harm_description {
        width: 100%;
        margin: 25px auto;
    }
    .harm_description > h2{
        font-size: 2.6rem;
        margin: 15px 0;
    }
    .harm_description > p{
        opacity: 1;
        font-size: 2.2rem;
    }


    /*Блок прайс*/

    .price_title > h1{
        font-size: 3rem;
        padding: 8px;
    }
    .price_title > h2, .price_note > h2{
        font-size: 2.2rem;
        padding: 5px;
    }


    .price__tags{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }
    .price_left, .price_right{
        width: 100%;
        padding: 10px;
    }

    ul.leaders li{
        font-size: 2.2rem;
    }


    /*Блок результаты*/

    .result-wrapper {
        padding: 20px 0;
        width: 90%;
        margin: 0 20px;
    }

    .result_desc_wrapper {
        max-width: 100%;
    }

    .result_headliner {
        text-align: center;
        width: 100%;
        margin: 3px;
    }

    .result_headliner > h1 {
        font-size: 3.2rem;
        margin:10px;
    }

    .result_desc_list {
        width: 100%;
        margin-bottom: 10px;
    }
    .result_desc_num {
        font-size: 1.8rem;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .result_desc_title {
        margin-bottom: 10px;
        margin-left: 35px;
        color: #353b44;
    }

    .result_desc_title > h1 {
        font-size: 2.2rem;
    }


    /*Блок фото результатов*/
    .result_photo {
        padding: 20px 0;
    }

    .result_photo_wrapper {
        padding: 5px 0;
        width: 100%;
    }

    .result_photo_headliner {

        text-align: center;
        width: 100%;
        margin: 5px 0;
    }
    .result_photo_headliner > h1 {
        font-size: 3.1rem;
        margin: 10px;
    }
    .result_photo_CONTAINER {
        margin: 0 auto;
    }

    .result_photo__right_block > div > h2, .result_photo__left_block > div > h2 {
        text-align: center;
        font-size: 2rem;
        margin: 0 12px;
        padding: 5px;
    }
    .result_photo__left_block > div > img, .result_photo__right_block > div > img{
        width: 65%;
        height: 50%;
        padding: 5px;
        margin: 0 10px;
    }

    /*Блок вопросы*/
    .faq_wrapper {
        width: 95%;
        margin: 0 10px;
        padding: 20px 0;
    }
    .faq_wrapper > h1{
        font-size: 3.1rem;
        margin-bottom: 10px;
    }
    .faq{
        width: 100%;
    }

    .accordion{
        width: 100%;
        font-size: 2.3rem;
    }
    .pannel > p{
        font-size: 1.9rem;
    }
    .accordion > i{
        font-size: 2.1rem;
    }

    /*Блок оборудование*/

    .equipment_wrapper {
        padding: 10px 0;
        margin: 5px 20px;
        width: 90%;
    }
    .equipment_headliner {
        width: 95%;
        margin: 25px auto;
        text-align: justify;
    }

    .equipment_headliner > h1 {
        font-size: 3rem;
        margin-bottom: 10px;
        margin-left: 5px;
    }
    .equipment_headliner > p, .equipment_headliner > ul > li{
        font-size: 2.1rem;
        margin-bottom: 5px;
    }

    .equipment_headliner > h2{
        font-size: 2.4rem;
        margin-left: 5px;
    }

    .equipment_pictures {
        display: none;
    }


    /*Блок футер*/
    .footer_block{
        padding-top: 20px;

    }
    .footer_block__left > div{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
    }
    .footer_block__left > h1{
        font-size: 2.8rem;
        margin-left: 25px;
    }
    .footer_block__left > div > p{
        font-size: 1.8rem;
        margin: 10px;
    }
    .footer_block__left > div > img{
        width: 8%;
        height: 8%;
    }
    .footer_block__left > div > a > img{
        width: 60%;
        height: 60%;
    }
}



 @media (min-width: 768px) and (max-width: 1024px) {
    html {font-size: 46%}

    /*/*Блок хедера*/

    /* Slideshow container */
    .slideshow-container {
        width: 100%;
        height: 40rem;
    }

    .mySlides > img {
        width: 100%;
        height: 40rem;
    }

    /*/*Блок хедера*/

    .header__menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .header__menu_block {
        display: none;
    }

    .header__menu_contacts > div {
        margin: 5px;
    }

    .header__menu_contacts > div > img, .header__menu_contacts > div > a > img {
        width: 60%;
    }
    .header__menu_contacts > div > img:hover {
        pointer-events: none;
    }

    .header__menu_contacts > div > a > img:hover {
        pointer-events: none;
    }


    /*Блок контента хедера*/

    .header__menu_inner {
        font-size: 1.5rem;
    }

    .header__menu_inner > h1 {
        font-size: 4rem;
        padding-bottom: 6px;
    }

    .header__menu_inner > h2 {
        font-size: 2.6rem;
        padding-bottom: 5px;
    }

    .header__menu_inner > .orange {
        font-size: 2.3rem;
        color: #ffac99;
        padding-top: 1px;
    }

    .line {
        margin-right: 20px;
    }

    .white {
        font-size: 2.3rem;
        margin: 0 5px;
    }
     .button_openModal{
         background-color: #ffac99;
         width: 200px;
         height: 3rem;
         border-radius: 10px;
         border: none;
         margin-top: 10px;
     }

     .button_openModal > a{
         font-size: 2.2rem;
         text-decoration: none;
         color: #ffffff;
         line-height: 1px;
     }

    .welcome-wrapper {
        padding: 10px 0;
    }
    .welcome_greetings {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .welcome_greetings_title > h1 {
        font-size: 3.8rem;
        margin: 6.3rem;
    }

    .welcome_desc > p {
        font-size: 2.8rem;
        margin: 0 6.3rem;
    }

    .welcome_content {
        display: flex;
        flex-direction: column;
    }

    .welcome_content_pics {
        display: flex;
        align-self: center;
        max-width: 100%;
        gap: 15px;
    }
    #main_icon {
        margin: 0 auto;
    }
    #main_icon > img {
        max-width: 100%;
    }

     .welcome_icon  {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
     }

     .welcome_icon > div > img {
         object-fit: cover;
     }

    .welcome_content_my_info > p {
        font-size: 2.2rem;
        margin: 3.1rem;
    }


    /*Блок обо мне*/
    .reasons-wrapper {
        padding: 50px 20px;
    }

    .reasons_desc_wrapper {
        max-width: 100%;
    }
    .reasons_desc {
        width: 100%;
    }
    .reasons_headliner {
        text-align: center;
        width: 100%;
    }

    .reasons_headliner > h1 {
        font-size: 3.1rem;
        margin-bottom: 20px;
    }

    .reasons_desc_list {
        width: 100%;
        margin-bottom: 10px;
    }

    .reasons_desc_title {
        margin-bottom: 10px;
        margin-left: 35px;
        color: #353b44;
    }

    .reasons_desc_title > h1 {
        font-size: 2.6rem;
    }

    .reasons_desc_text {
        margin-left: 35px;
    }

    .reasons_desc_text > p {
        font-size: 2.1rem;
    }

    .reasons_desc_num {
        font-size: 1.8rem;
        width: 25px;
        height: 25px;
        line-height: 25px;

    }
    .reasons_pic{
        margin: 8px;
    }
    .reasons_pic > img {
        max-width: 16.6rem;
        max-height: 25rem;
        object-fit: cover;
    }


    /*Блок вредно или нет*/
    .harm_wrapper {
        width: 90%;
        padding-bottom: 20px;
        margin: 0 auto;
    }
    .harm_headliner > h1{
        font-size: 3.2rem;
        margin-bottom: 10px;
    }
    .harm_description {
        width: 100%;
        margin: 25px auto;
    }
    .harm_description > h2{
        font-size: 2.6rem;
        color: #353b44;
        margin: 15px 0;
    }
    .harm_description > p{
        font-size: 2.2rem;
        color: #454d5a;
    }


    /*Блок прайс*/

    .price_title > h1{
        font-size: 3rem;
        padding: 8px;
    }
    .price_title > h2, .price_note > h2{
        font-size: 2.2rem;
        padding: 5px;
    }


    .price__tags{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }
    .price_left, .price_right{
        width: 100%;
        padding: 10px;
    }

    ul.leaders li{
        font-size: 2.2rem;
    }


    /*Блок результаты*/

    .result-wrapper {
        padding: 50px 20px;
        width: 100%;
    }

    .result_desc_wrapper {
        max-width: 100%;
    }

    .result_headliner {
        width: 100%;
        text-align: center;
    }

    .result_headliner > h1 {
        font-size: 3.2rem;
        margin-bottom:20px;
    }

    .result_desc_list {
        width: 100%;
        margin-bottom: 10px;
    }
    .result_desc_num {
        font-size: 1.8rem;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .result_desc_title {
        margin-bottom: 10px;
        margin-left: 35px;
        color: #353b44;
    }

    .result_desc_title > h1 {
        font-size: 2.2rem;
    }


    /*Блок фото результатов*/

     .result_photo_wrapper {
         padding: 20px 0;
     }

     .result_photo_headliner {
         text-align: center;
         margin-bottom: 15px;
     }
     .result_photo_headliner > h1 {
         font-size: 3.4rem;
     }
     .result_photo_CONTAINER {
         display: flex;
         flex-direction: row;
     }

     .result_photo__left_block , .result_photo__right_block {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
         height: 60%;
     }
     .result_photo__right_block > div > h2, .result_photo__left_block > div > h2 {
         text-align: justify;
         font-size: 2rem;
         line-height: 1.2;
         font-weight: 400;
         padding: 15px;
     }
    .result_photo__left_block > div > img, .result_photo__right_block > div > img{
        width: 45%;
        height: 30%;
        padding: 5px;
        margin: 0 10px;
    }

    /*Блок вопросы*/
    .faq_wrapper {
        width: 95%;
        margin: 0 10px;
        padding: 20px 0;
    }
    .faq_wrapper > h1{
        font-size: 3.1rem;
        margin-bottom: 10px;
    }
    .faq{
        width: 100%;
    }

    .accordion{
        width: 100%;
        font-size: 2.3rem;
    }
    .pannel > p{
        font-size: 1.9rem;
    }
    .accordion > i{
        font-size: 2.1rem;
    }

    /*Блок оборудование*/

    .equipment_wrapper {
        padding: 10px 0;
        margin: 5px 20px;
        width: 90%;
    }
    .equipment_headliner {
        width: 95%;
        margin: 25px auto;
        text-align: justify;
    }

    .equipment_headliner > h1 {
        font-size: 3rem;
        margin-bottom: 10px;
        margin-left: 5px;
    }
    .equipment_headliner > p, .equipment_headliner > ul > li{
        font-size: 2.1rem;
        margin-bottom: 5px;
    }

    .equipment_headliner > h2{
        font-size: 2.4rem;
        margin-left: 5px;
    }

    .equipment_pictures {
        display: none;
    }

    /*Блок футер*/
    .footer_block{
        padding-top: 20px;

    }
    .footer_block__left > div{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
    }
    .footer_block__left > h1{
        font-size: 2.8rem;
        margin-left: 25px;
    }
    .footer_block__left > div > p{
        font-size: 1.8rem;
        margin: 10px;
    }
    .footer_block__left > div > img{
        width: 6%;
        height: 6%;
    }
    .footer_block__left > div > a > img{
        width: 40%;
        height: 40%;
    }
}

@media (min-width : 1024px) and (max-width : 1200px) {
    html {font-size: 48%}

    .header__menu_block > li {
        list-style-type: none;
        font-size: 2.4rem;
        padding: 10px;
    }
    .header__menu_contacts > div > a > img, .header__menu_contacts > div > img{
        width: 40px;
        height: 40px;
    }
    .header__menu_inner {
        margin-top: 50px;
    }
    .button_openModal{
        background-color: #ffac99;
        width: 250px;
        height: 4rem;
        border-radius: 10px;
        border: none;
        margin-top: 0;
    }

    .button_openModal > a{
        font-size: 2.8rem;
        text-decoration: none;
        color: #ffffff;
        line-height: 1px;
    }

    .welcome-wrapper {
        max-width: 100%;
        padding: 20px 0;
        margin: 0 20px;
    }
    .welcome_greetings {
        padding-top: 80px;
        padding-bottom: 30px;
    }
    .result-wrapper {
         padding: 40px 0;
    }
    .result_headliner > h1 {
        font-size: 4rem;
        margin-bottom: 30px;
    }

    .reasons_pic > img {
        width: 250px;
        height: 300px;
    }
    .harm_wrapper, .result-wrapper, .result-wrapper {
        margin: 0 20px;
    }
    ul.leaders li {
        font-size: 2.5rem;
    }
    .reasons_headliner, .result_photo_headliner {
        margin: 25px 100px;
    }
    .result_photo__left_block > div > img, .result_photo__right_block > div > img {
        width: 45%;
        height: 30%;
        padding: 5px;
        margin: 0 10px;
    }
    .result_photo_wrapper{
        padding: 20px 0;
    }
    .result_photo_headliner > h1 {
        margin-bottom: 10px;
    }
    .faq_wrapper {
        padding: 20px 0;
    }
    .equipment_wrapper {
        padding: 20px 0;
    }

    .equipment_pictures {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .equipment_pictures_left > img {
        width: 250px;
        height: 360px;
        object-fit: cover;
        margin: 5px;

    }
    .equipment_pictures_right > img {
        width: 250px;
        height: 360px;
        object-fit: cover;
        margin: 5px;
    }
}
@media (min-width : 1200px) and (max-width : 1520px) {
    html {
        font-size: 50.5%;
    }
    .header__menu_contacts > div > a > img, .header__menu_contacts > div > img{
        width: 40px;
        height: 40px;
    }
    .welcome-wrapper {
        max-width: 100%;
    }
    .welcome_greetings {
        padding-top: 80px;
        padding-bottom: 30px;
    }
    .button_openModal{
        width: 250px;
        height: 4rem;

        margin-top: 0;
    }

    .button_openModal > a{
        font-size: 2.8rem;
        color: #ffffff;
    }
    .reasons_headliner > h1 {
        width: 100%;
        text-align: center;
    }
    .reasons_pic > img {
        width: 250px;
        height: 300px;
    }
    .result-wrapper {
        padding: 0 20px;
    }
    .result_photo__left_block > div > img, .result_photo__right_block > div > img {
        width: 45%;
        height: 30%;
        padding: 5px;
        margin: 0 10px;
    }
    .equipment_wrapper {
        padding: 0;
    }
    .equipment_pictures {
        display: flex;
        flex-direction: row;
       justify-content: center;
    }
    .equipment_pictures_left > img {
        width: 250px;
        height: 360px;
        object-fit: cover;
        margin: 5px;

    }
    .equipment_pictures_right > img {
        width: 250px;
        height: 360px;
        object-fit: cover;
        margin: 5px;
    }
}
